.dedicatorias__container {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    padding: 5rem 4rem;
    
    color: var(--ft-color-secundary);
    background-color: var(--bg-color-primary);
}

.dedicatorias__container > div {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

@media (min-width: 768px) {
    .dedicatorias__container > div{
        max-width: 80rem;
        margin: 0 auto;
    }
}

